/* font */
@font-face {
	font-family: "Poppins-Regular";
	src: url(../fonts//Poppins-Regular\ 400.ttf);
}
@font-face {
	font-family: "Poppins-SemiBold";
	src: url(../fonts//Poppins-SemiBold\ 600.ttf);
}

/* color */
:root {
	--navy-blue: #1e3c72;
	--dark: #000;
}

/* reset style */
*,
*::before,
*::after {
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}
img,
picture {
	max-width: 100%;
	display: block;
}
input,
button,
textarea,
select {
	font: inherit;
}

body {
	font-family: "Poppins-Regular";
}

.nav {
}

.nav__icon {
	max-width: 69px;
	max-height: 69px;
}

.nav__title {
	color: var(--navy-blue);
	font-family: "Poppins-SemiBold";
}
.nav__link {
	color: var(--dark) !important;
}
.nav__item:not(:last-child) {
	margin-right: 53px;
}

.nav__button,
.nav__button:active,
.nav__button:focus,
.nav__button:hover {
	background-color: var(--navy-blue);
	box-shadow: none !important;
	border-color: transparent;
}

/* font size */
.fs-30 {
	font-size: 30px;
}
.fs-18 {
	font-size: 18px;
}

/* line height */
.lh-45 {
	line-height: 45px;
}
.lh-27 {
	line-height: 27px;
}

/* font weight */
.fw-500 {
	font-weight: 500;
}
.fw-600 {
	font-weight: 600;
}

/* padding */
.px-40 {
	padding-right: 40px;
	padding-left: 40px;
}
