/* font */
@font-face {
	font-family: "Poppins-Regular";
	src: url(../fonts//Poppins-Regular\ 400.ttf);
}
@font-face {
	font-family: "Poppins-SemiBold";
	src: url(../fonts//Poppins-SemiBold\ 600.ttf);
}
@font-face {
	font-family: "Poppins-Medium";
	src: url(../fonts//Poppins-Medium.ttf);
}

/* color */
:root {
	--navy-blue: #1e3c72;
	--dark: #000;
	--creamy: #f2f2f280;
}

/* reset style */
*,
*::before,
*::after {
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}
img,
picture {
	max-width: 100%;
	display: block;
}
input,
button,
textarea,
select {
	font: inherit;
}

body {
	font-family: "Poppins-Regular";
}

.nav__icon {
	max-width: 69px;
	max-height: 69px;
}

.nav__title {
	color: var(--navy-blue);
	font-family: "Poppins-SemiBold";
}
.nav__link {
	color: var(--dark) !important;
	display: flex;
	flex-direction: column;
}
.nav__item:not(:last-child) {
	margin-right: 53px;
}

.nav__link::after,
.footer .nav-link::after {
	content: "";
	position: relative;
	transform-origin: left;
	border: solid 1px black;

	transform: scaleX(0) rotate(0deg);
	-webkit-transform: scaleX(0) rotate(0deg);
	-moz-transform: scaleX(0) rotate(0deg);
	-ms-transform: scaleX(0) rotate(0deg);
	-o-transform: scaleX(0) rotate(0deg);

	transition: transform 0.5s ease;
	-webkit-transition: transform 0.5s ease;
	-moz-transition: transform 0.5s ease;
	-ms-transition: transform 0.5s ease;
	-o-transition: transform 0.5s ease;
}

.nav__link:hover:after,
.footer .nav-link:hover::after {
	transform: scaleX(0.7);
	-webkit-transform: scaleX(0.7);
	-moz-transform: scaleX(0.7);
	-ms-transform: scaleX(0.7);
	-o-transform: scaleX(0.7);
}

.btn-info,
.btn-info:active,
.btn-info:focus,
.btn-info:hover {
	width: fit-content;
	background-color: var(--navy-blue);
	box-shadow: none !important;
	border-color: transparent;
	color: #fff;
	font-weight: 600;
	font-size: 18px;
	line-height: 27px;
}

.hero {
	background-color: var(--creamy);
	border-radius: 0px 0px 100px 100px;
	padding: 70px 0 80px;
}

.hero__title,
.title {
	font-family: "Poppins-SemiBold";
	text-transform: capitalize;
	font-size: 44px;
	line-height: 66px;
	color: var(--dark);
}

.hero__btn {
	width: fit-content;
	text-transform: capitalize;
	font-weight: 600;
	margin-bottom: 140px;
}

.hero__icon {
	border: 3px solid #fff;
	padding: 3px 7px !important;
}

.hero__info > div {
	/* border-right: 2px solid #c4c4c499; */
	position: relative;
	padding-right: 19px;
	/* border */
}

.hero__info > div::after {
	content: "";
	position: absolute;
	right: 0;
	top: 28%;
	/* bottom: 50%; */
	width: 2px;
	height: 50%;
	background-color: #c4c4c499;
}

.hero__info > div:not(:last-child) {
	margin-right: 24px;
}

.hero__info .total {
	font-family: "Poppins-SemiBold";
	font-weight: 500;
	font-size: 30px;
	line-height: 45px;
}

.hero__info .description {
	font-size: 18px;
	line-height: 27px;
}

.hero__image > div:nth-child(1) img:nth-child(1) {
	border-radius: 130px 130px 10px 130px;
}

.hero__image > div:nth-child(1) img:nth-child(2) {
	border-radius: 130px 10px 130px 130px;
}

.hero__image > div:nth-child(2) img:nth-child(1) {
	border-radius: 130px 130px 130px 10px;
}

.about-us {
	margin: 120px 0 120px;
}

.about-us__title {
	position: relative;
	width: fit-content;
}

.about-us__title::after {
	content: "";
	position: absolute;
	height: 5px;
	width: 100%;
	background-color: var(--navy-blue);
	bottom: 0;
}

.why-us .card {
	padding: 55px 30px 30px;
	width: 100%;
	max-width: 360px;
	height: 100%;
	max-height: 430px;
}

.why-us__title {
	width: fit-content;
	position: relative;
	margin-bottom: 80px;
}

.why-us__img {
	max-width: 130px;
	max-height: 130px;
}

.why-us__title::after {
	content: "";
	position: absolute;
	height: 5px;
	width: 50%;
	background-color: var(--navy-blue);
	bottom: 0;
	left: 0;
	transform: translateX(50%);
}

.why-us__card {
	background-color: var(--creamy);
	border-radius: 30px;
	border: none;
}

.why-us .card-title {
	font-family: "Poppins-SemiBold";
	font-weight: 700;
	font-size: 22px;
	line-height: 33px;
	margin: 39px 0 15px;
}

.why-us .card-text {
	font-size: 18px;
	line-height: 30px;
}

.popular {
	margin: 112px 0;
}

.popular__header {
	margin-bottom: 80px;
}

.popular__title {
	position: relative;
}

.popular__title::after {
	content: "";
	position: absolute;
	height: 5px;
	width: 60%;
	background-color: var(--navy-blue);
	bottom: 0;
	left: 0;
}

.popular__btn {
	height: fit-content;
	width: fit-content;
	padding: 10px 30px;
}

.popular__card .card {
	filter: drop-shadow(0px -27px 148px rgba(0, 0, 0, 0.04))
		drop-shadow(0px -3.38082px 18.5319px rgba(0, 0, 0, 0.08));
	border: none;
	border-radius: 30px;
	overflow: hidden;
}

.popular__card .card-title {
	font-family: "Poppins-SemiBold";
	color: var(--navy-blue);
	font-weight: 700;
	font-size: 22px;
	line-height: 33px;
	margin-bottom: 0;
}

.popular__card .popular__rating {
	top: 20px;
	right: 20px;
	padding: 8px 15px;
	background-color: #fff;
}

.popular__card .popular__rating span {
	font-weight: 600;
	font-size: 18px;
	line-height: 27px;
	padding-top: 1px;
}

.popular__card .card-text {
	font-style: 18px;
	line-height: 27px;
	font-weight: 500;
	color: #00000066;
}

.popular__card .card-price {
	font-family: "Poppins-SemiBold";
	font-size: 22px;
	line-height: 33px;
}

.popular__card .card-btn {
	padding: 8px 20px;
}

.partner__title {
	position: relative;
	width: fit-content;
	margin-bottom: 75px;
}

.partner__logo-wrap .row > div {
	display: flex;
	justify-content: center;
	align-items: center;
}

.partner__logo-wrap .row-cols-5 > div,
.partner__logo-wrap .row-cols-4 > div {
	width: fit-content;
}

.partner__title::after {
	content: "";
	position: absolute;
	height: 5px;
	width: 60%;
	background-color: var(--navy-blue);
	bottom: 0;
	right: 50%;
	transform: translateX(50%);
}

.testimonial {
	margin-top: 100px;
	background-color: var(--creamy);
	padding: 40px 0;
}

.testimonial__title {
	position: relative;
	width: fit-content;
	margin-bottom: 70px;
}

.testimonial__title::after {
	content: "";
	position: absolute;
	height: 5px;
	width: 45%;
	background-color: var(--navy-blue);
	bottom: 0;
	left: 0;
}

.testimonial__card {
	max-width: 560px !important;
	width: 100%;
	position: relative;
	background-color: #fff;
	padding: 50px 45px;
	border-radius: 20px;
	border: 1px solid #dadada99;
	margin-bottom: 50px;
	/* box-shadow: 0px 67px 500px rgba(0, 0, 0, 0.0242336),
		0px 14.9653px 111.682px rgba(0, 0, 0, 0.0357664),
		0px 4.45557px 33.2505px rgba(0, 0, 0, 0.06); */
}

.slick-slide {
	margin: 15px;
}

.slick-dots li button {
	width: 20px;
	height: 20px;
	border: 1px solid#00000080;
	border-radius: 50%;
}

.slick-dots li button::before {
	color: transparent !important;
}

.slick-dots .slick-active {
	border-radius: 50%;
	background-color: var(--navy-blue);
}

.slick-next,
.slick-prev {
	opacity: 1 !important;
	color: var(--navy-blue);
	top: 43% !important;
}

.slick-prev {
	left: -40px;
}

.slick-next::before,
.slick-prev::before {
	opacity: 0.75;
	/* line-height: 0; */
	font-size: 35px;
	color: var(--navy-blue);
}

.testimonial__card .quote {
	position: absolute;
	top: 10px;
	left: 25px;
}

.testimonial__review {
	font-style: italic;
	font-weight: 400;
	font-size: 18px;
	line-height: 32px;
	margin-bottom: 30px;
}

.testimonial__name {
	font-weight: 600;
	font-size: 18px;
	line-height: 27px;
	color: var(--navy-blue);
}

.testimonial__info {
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
}

.testimonial__rating-wrap {
	height: fit-content;
}

.testimonial__rating-wrap p {
	margin-top: 5px !important;
}

.newsletter {
	padding: 95px 0;
}

.newsletter__title {
	position: relative;
	width: fit-content;
	margin-bottom: 45px;
}

.newsletter__title::after {
	content: "";
	position: absolute;
	height: 5px;
	width: 60%;
	background-color: var(--navy-blue);
	bottom: 0;
	right: 50%;
	transform: translateX(50%);
}

.newsletter__description {
	width: 51%;
	font-size: 16px;
	line-height: 30px;
	margin-bottom: 50px;
}

.newsletter__form input {
	min-width: 534px;
	width: 100%;
	border: 1px solid #0000001a;
	background-color: #f7f7f7;
	padding: 12px 25px;
}

.newsletter__form input::placeholder {
	font-size: 18px;
	line-height: 30px;
}

.newsletter__btn {
	padding: 12px 25px;
}

.footer {
	padding-top: 145px;
	background-color: var(--creamy);
	border-start-start-radius: 100px;
	border-start-end-radius: 100px;
}

.footer__text-wrap {
	margin-bottom: 27px;
}

.footer__title {
	font-family: "Poppins-SemiBold";
	font-size: 30px;
	line-height: 45px;
	font-weight: 700;
	color: var(--navy-blue);
}

.footer__subtitle {
	text-transform: capitalize;
	width: 70%;
}

.footer__social-wrap {
	background-color: #e5e5e599;
	padding: 7px;
}

.footer__social-wrap:not(:last-child) {
	margin-right: 12px;
}

.footer__list-title {
	font-family: "Poppins-SemiBold";
	font-size: 18px;
	font-weight: 700;
	line-height: 27px;
	color: var(--navy-blue);
	margin-bottom: 40px;
}

.footer .nav-item {
	margin-bottom: 15px;
}

.footer .nav-link {
	width: fit-content;
	font-weight: 400;
	font-style: 18px;
	line-height: 27px;
	color: var(--dark) !important;
	display: flex;
	flex-direction: column;
}

.footer__copyright {
	width: fit-content;
	margin-top: 120px;
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	color: #000000b2;
	padding-bottom: 15px;
}

/* font size */
.fs-30 {
	font-size: 30px;
}
.fs-18 {
	font-size: 18px;
}
.fs-44 {
	font-size: 44px;
}

/* line height */
.lh-27 {
	line-height: 27px;
}
.lh-30 {
	line-height: 30px;
}
.lh-45 {
	line-height: 45px;
}
.lh-66 {
	line-height: 66px;
}

/* font weight */
.fw-500 {
	font-weight: 500;
}
.fw-600 {
	font-weight: 600;
}

/* padding */
.px-40 {
	padding-right: 40px;
	padding-left: 40px;
}

/* margin */
.mb-100 {
	margin-bottom: 100px;
}
